@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;


}
:root {
    --bg-color:#191f36;
    --snd-bg-color:#262840;
    --text-color:#fff;
    --main-color:#59B4F4;
}
html {
    font-size: 70.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 5% 10rem;

}
.heading {
    font-size: 3rem;
    color: yellowgreen;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight:700;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);   
    display: none;
}
.home {
    display: flex;
    justify-content:center;
    align-items: center;   
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}
.home-content span {
    color: var(--main-color);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: .5s ease;
    animation: slideleft 1s ease forwards;
    
}
.social-media a:hover {
    background-color: var(--main-color);
    color: red;
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .3s;

}
.btn:hover {
    color: red;
    box-shadow: 0 0 1rem var(--main-color);
    box-shadow: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);   
}
.about-img img {
    width: 35vw;
    
}
.about-content h3 {
    font-size: 3.6rem;
}
.about-content p {
    font-size: 1.2rem;
}
.education {
    text-align: center;
    background: var(--snd-bg-color);
}
.education h1 {
    font-size: 3rem;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 0.1s;
}
.education-container {
}

.education-con h2 {
    font-size: 2.5rem;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;
}
.education-con h3 {
    font-size: 1.8rem;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;
    
}
.education-con h4 {
    font-size: 1.5rem;
    font-style: oblique;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;
}
.certifi h2 {
    font-size:2.5rem ;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;
}
.contact h1 {
    margin-bottom: 2rem;
    transition: .5s ease;
    animation: slideleft 1s ease forwards;
}
.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: end;   
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .5rem;
    margin: .5rem 0;
}
.contact form .input-box input {
    width: 49%;   
}
.contact form textarea {
    resize:none ;
    padding-bottom: .1rem;
   
}
.contact form .btn {
    margin-top: 2rem;
    margin-left: 30ch; 
    cursor: pointer;
}

.skill-container .bar {
    margin-top:40px 0; 
}
.bar {
    font-size: 23px;
}
.skill-container .bar:first-child {
    margin-top:10px;
}
.skill-container .bar:last-child {
    margin-bottom:0px;
}
.skill-container .bar .info {
    margin-bottom: 5px;
    background-color: orange;
}
.skill-container .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
.skill-container .bar .progress-line {
    position: relative;
    border-radius: 10px; 
    width: 100%;
    height: 5px;
    background-color:black;  
    animation: animates 1s cubic-bezier(1,0,0,5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
    
   
}
@keyframes animates {
    100%{
        transform: scaleX(0);
    }
}
.skill-container .bar .progress-line.sub-title {
    height: 100%;
    background-color: yellow;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1)forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html.sub-title{
    width: 90%;
}
.progress-line.css span{
    width: 90%;
}
.progress-line.python span{
    width: 90%;
}
.progress-line.mysql span{
    width: 90%;
}
.progress-line.github span{
    width: 90%;
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem; 
    background: var(--snd-bg-color);  
    
}
.footer-con  {
    font-size: 1.6rem;
}
.footer-icon  {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

@media (max-width: 1200px){
    html {
        font-size:55%;
    }
    
}
@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .contact {
        min-height: auto;
    }
    
    .footer {
        padding: 2rem 1%;
    }
}

@media (max-width: 1200px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .2rem solid rgba(0, 0, .2);
        box-shadow: 0 .5rem rgba(0, 0, .2);
        display: none;
    
    }
    .navbar.active {
        display:block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
    }
    
}
@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
